{
    "*.md": [
      "operational-scripts prettify",
      "git add"
    ],
    "*.json": [
      "operational-scripts prettify",
      "git add"
    ],
    "*.(tsx|ts)": [
        "operational-scripts eslint",
        "operational-scripts prettify",
        "git add"
    ],
    "*.(jsx|js)": [
        "operational-scripts eslint",
        "operational-scripts prettify",
        "git add"
    ]
  }